In [97]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [2]:
#!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [53]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [54]:
df.shape

(9704, 11)

In [55]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [56]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [57]:
#((df.isnull().sum() == 0) == 0).sum()
(df.isnull().any()).sum()

np.int64(4)

In [58]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

23.759122836520497

In [64]:
median_hp = df.horsepower.median()
mode_hp = df.horsepower.mode()
print(median_hp, mode_hp)

149.0 0    152.0
Name: horsepower, dtype: float64

In [65]:
horsepower = df['horsepower'].fillna(mode_hp.iloc[0])
horsepower

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [66]:
horsepower.isnull().sum()

np.int64(0)

In [67]:
horsepower.median()

152.0

<h1>Q7. Sum of weights</h1>
<ol>
<li>Select all the cars from Asia</li>
<li>Select only columns vehicle_weight and model_year</li>
<li>Select the first 7 values</li>
<li>Get the underlying NumPy array. Let's call it X.</li>
<li>Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.</li>
<li>Invert XTX.</li>
<li>Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].</li>
<li>Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.</li>
<li>What's the sum of all the elements of the result?</li>
</ol>

In [88]:
df_car = df[df['origin'] == 'Asia']
# df_car.head()

In [89]:
df_car = df_car[['vehicle_weight', 'model_year']]
df_car.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [90]:
df_car = df_car.iloc[0:7]
df_car

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [93]:
X = df_car.values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [94]:
XTX = X.T @ X

In [95]:
XTX.shape

(2, 2)

In [98]:
XTX_inv = np.linalg.inv(XTX)

In [99]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [ ]:
w = (XTX_inv @ X.T) @ y
w.shap